body{
    font-family: 'Space Mono', monospace;
    background-image: url("../images/background.jpg"); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.answerBlock {
    cursor: pointer;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.verdict {
    font-size: 24px;
    font: bold;
}
#factText {
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    
}

img {
    border: 1px solid white;
    border-radius: 4px;  
}

#reset {
    margin-top: 15px;
}